<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mt-2">
      <div class="row ml-1">
			

          <div class="col-md-8 " id="map"
            style="height: 350px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>



        <div class="col-md-4">

          <div class="card" style="width: 99%; height: 350px;">
            <div  id="grid" class="grid-container" >
              <% @categories.each do |category| %>
                <div data-controller="category" data-action="click->category#toggle" data-controller="cell" data-category-target='cell' class="cell" id="<%=category.id%>" style="background-image: "> 
                  <%=  image_tag( "#{category.name}.png") if ActionController::Base.helpers.resolve_asset_path("#{category.name}.png") %>
                  <p  class="card-text" ><strong><%= category.name %></strong> </p>
                </div>
              <% end %>
            </div>
          </div>

        </div>

      </div>

      <div class="row mb-1">
        <div class="col-12 justify-content-center">
            <p> <%= form_tag schools_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Procurar uma escola"
              %>
            <% end %></p>
        </div>
      </div>
      <div class="col-12 justify-content-center" style=" height: 35vh; overflow-y: auto;">
      <table class="table table-sm table-hover " >
        <thead>
          <tr>
            <th>Cod. Inep</th>
            <th>Nome</th>
            <th>Problemas</th>
            <th>Resolvidos</th>
            <th>Pendentes</th>
          </tr>
        </thead>
        <tbody>
          <% @schools.first(30).each do |school| %>
            <tr>
              <td><%= school.id %></td>
                <td><%= school.name %></td>
                <td><%= school.reports.count %></td>
                <td><%= school.reports.where("solved = ?", true).count %></td>
                <td><%= school.reports.where("solved = ?", false).count %></td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
			
		</div>
		<div class="col-md-4" style=" height: 90vh; overflow-y: auto;">
     
        <%= render 'reports', reports: @reports %>

		</div>
	</div>
</div>

<script type="text/javascript">

  var checkBoxes = document.querySelectorAll(".cell .active");


  var form = document.querySelector('form');
  
  for (const check of checkBoxes) {
  check.addEventListener( 'change', function() {
    Rails.fire(form, 'submit');
  });
  }
</script>