<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mt-3">
      <div id="map"
        style="width: 100%; height: 350px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <div class="row mb-1">
        <div class="col-12 justify-content-center">
            <p> <%= form_tag schools_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Procurar uma escola"
              %>
            <% end %></p>
        </div>
      </div>

      <table class="table table-sm table-hover ">
        <thead>
          <tr>
            <th>Cod. Inep</th>
            <th>Nome</th>
            <th>Problemas</th>
            <th>Resolvidos</th>
            <th>Pendentes</th>
          </tr>
        </thead>
        <tbody>
          <% @schools.first(6).each do |school| %>
            <tr>
              <td><%= school.id %></td>
                <td><%= school.name %></td>
                <td><%= school.reports.count %></td>
                <td><%= school.reports.where("solved = ?", true).count %></td>
                <td><%= school.reports.where("solved = ?", false).count %></td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
			<nav>
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#">Anterior</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">5</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Pr칩ximo</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col-md-4" style=" height: 90vh; overflow-y: auto;">
      <% @schools.each do |school| %>
        <% school.reports.each do |report| %>

          <div class="card mt-3" >
              <% if report.photos.attached?%>
                <%= link_to report_path(report) do %>
                  <% if report.photos.count > 1 %>
                    <%= render 'shared/carousel', photos: report.photos %>
                  <% else %>
                    <div class="card-img-top"
                        style="background-image: url(<%= cl_image_path report.photos[0].key %>);">
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <%= link_to report_path(report) do %>
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h4 class="card-text" ><strong><%= report.category.name %></strong></h4>
                    <%=  image_tag( "#{report.category.name}.png", width: 32, height: 32) if ActionController::Base.helpers.resolve_asset_path("#{report.category.name}.png") %>
                  </div>
                  <div style="display:inline-block;" class="d-flex justify-content-between">
                    <div>
                      <% if report.solved? %>
                        <p>游릭 Resolvido </p>
                      <% else %>
                        <p>游 Pendente </p>
                      <% end %>
                    </div>
                    <div class="d-flex justify-content-between ">
                      <%= link_to dislike_report_path(report), method: :put, remote: :true do %>
                        <strong><%= report.get_downvotes.size %></strong>
                        游녩
                      <% end %>
                      <%= link_to like_report_path(report), method: :put, remote: :true do %>
                        游녨
                        <strong><%= report.get_upvotes.size %></strong>
                      <% end %>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p>游눫 <strong><%= report.user.name %></strong></p>
                    <p> 游 H치 <%= time_ago_in_words(report.created_at) %></p>
                  </div>
                  <p class="card-text block-with-text" ><%= report.description %></p>
                  <% report.reviews.each do |review| %>
                    <hr>
                    <div class="comment-attr d-flex justify-content-between">
                        <strong>游눫 <%= review.user.name %></strong>
                        <p> 游 H치 <%= time_ago_in_words(review.created_at) %></p>
                      </div>
                      <em class="comment" id="review-<%= review.id %>"><%= review.comment %></em>
                  <% end %>

                </div>
              <% end %>
            </div>
        <% end %>
      <% end %>
		</div>
	</div>
</div>
