<div class="flex-container mt-3">
  <div class="align-center">
    <h3><i class="fas fa-map-marker-alt"></i> <%= current_user.school.name %></h3>
  </div>

<br>
<div class="container">
  <div class="row justify-content-center">
    <% @reports.each do |report| %>
      <% if current_user.school == report.school %>
        <div class="card" style="width: 19rem; margin-bottom: 24px;">              
          <% if report.photos.attached?%>
            <%= link_to report_path(report) do %>
              <% if report.photos.count > 1 %>
                <%= render 'shared/carousel', photos: report.photos %>
              <% else %>
                <%=  cl_image_tag report.photos[0].key, class: "d-block w-100"  %>
              <% end %>
            <% end %>
          <% end %>
          <%= link_to report_path(report) do %>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h4 class="card-text" style="width: 17rem"><strong><%= report.category.name %></strong></h4>
                <%=  image_tag( "#{report.category.name}.png", width: 32, height: 32) if ActionController::Base.helpers.resolve_asset_path("#{report.category.name}.png") %>
              </div>
              <% if report.solved? %>
                  <p>🟢 Resolvido </p>
                <% else %>
                  <p>🟠 Pendente </p>
              <% end %>
              <div class="d-flex justify-content-between">
                <p>💬 <strong><%= report.user.name %></strong></p>
                <% if (Date.today.day - report.created_at.day) > 1 %>
                  <p>🕒 Há <%= (Date.today.day - report.created_at.day) %> dias</p>
                <% elsif (Date.today.day - report.created_at.day) == 1 %>
                  <p>🕒 Ontem </p>
                <% else %>
                  <p>🕒 Hoje </p>
                <% end %>
              </div>
              <p class="card-text block-with-text" style="width: 17rem;"><%= report.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
  
  <br>

  <div class="align-center">
    <%= link_to "Informe um problema", new_school_report_path, class: "btn btn-info" %>
  </div>

</div>
