<div class="flex-container mt-3">
  <div class="align-center">
    <h3><i class="fas fa-map-marker-alt"></i> <%= current_user.school.name %></h3>
  </div>

  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div>
        <% if current_user.school == @report.school %>
          <div class="card" style="width: 19rem">
            <% if @report.photos.attached?  %>
              <% if @report.photos.count > 1 %>
                  <%= render 'shared/carousel', photos: @report.photos %>
                <% else %>
                  <%=  cl_image_tag @report.photos[0].key, class: "d-block w-100"  %>
                <% end %>
            <% end %>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h4 class="card-text" style="width: 17rem"><strong><%= @report.category.name %></strong></h4>
                <%=  image_tag( "#{@report.category.name}.png", width: 32, height: 32) if ActionController::Base.helpers.resolve_asset_path("#{@report.category.name}.png") %>
              </div>
              <% if @report.solved? %>
                <p>🟢 Resolvido </p>
              <% else %>
                <p>🟠 Pendente </p>
              <% end %>
              <div class="d-flex justify-content-between">
                <p>💬 <strong><%= @report.user.name %></strong></p>
                <p> 🕒 Há <%= time_ago_in_words(@report.created_at) %></p>
              </div>
              <p class="card-text" style="width: 17rem;"><%= @report.description %>
                <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_report_path(@report) if current_user == @report.user %>
              </p>

              <div class="d-flex justify-content-end">
              </div>
              <h6><strong>Comentários:</strong></h6>
              <ul class="list-group">
                <% @report.reviews.each do |review| %>
                  <% if current_user == review.user %>
                    <li class="list-group-item">
                      <div class="d-flex justify-content-between">
                        <strong>💬 <%= review.user.name %></strong>
                        <p> 🕒 Há <%= time_ago_in_words(review.created_at) %></p>
                      </div>
                      <em id="review-<%= review.id %>"><%= review.comment %></em>
                      <div class="d-flex justify-content-around" style="font-size: 8px;">
                        <%= link_to '<i class="fas fa-trash fa-2x"></i>'.html_safe, review_path(review), method: :delete, remote: true, data: { confirm: 'Certeza?'} %>
                        <%= link_to '<i class="fas fa-edit fa-2x"></i>'.html_safe, edit_review_path(review) %>
                      </div>
                    </li>
                  <% else %>
                    <li class="list-group-item">
                      <div class="d-flex justify-content-between">
                        <strong>💬 <%= review.user.name %></strong>
                        <p> 🕒 Há <%= time_ago_in_words(review.created_at) %></p>
                      </div>
                      <em id="review-<%= review.id %>"><%= review.comment %></em>
                    </li>
                  <% end %>
                <% end %>
                <div id="reviews">
                  <% if @review.new_record? %>
                    <%= simple_form_for([@report, @review], remote: true) do |f| %>
                      <div class="form-list">
                        <%= f.input :comment, label: 'O que você pensa sobre este problema?', autofocus: true %>
                      </div>
                      <div align="center">
                        <%= f.submit "Comentar", class: "btn btn-primary" %>
                      </div>
                    <% end %>
                  <% else %>
                    <%= simple_form_for @review, url: review_path(@review), html: {method: "patch"} do |f| %>
                      <div class="form-list">
                        <%= f.input :comment, label: 'O que você pensa sobre este problema?', autofocus: true %>
                      </div>
                      <div align="center">
                        <%= f.submit "Comentar", class: "btn btn-primary" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br>

  <div class="wrapper">
    <button type="button" class="btn btn-light" onclick="goBack()">Voltar</button>
      <script>
      function goBack() {
        window.history.back();
      }
      </script>
    <%= link_to "Informe um problema", new_school_report_path(@report.school_id), class: "btn btn-info" %>
  </div>
</div>
