<div class="flex-container mt-3">
  <div class="align-center">
    <h3><i class="fas fa-map-marker-alt"></i> <%= current_user.school.name %></h3>
  </div>

  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div>
        <% if current_user.school == @report.school %>
          <div class="card" style="width: 19rem; margin-bottom: 24px;">
            <% if @report.photos.attached?  %>
              <%= cl_image_path @report.photo.key, class: card-img-top %>
            <% else %>
              <img class="card-img-top" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <% end %>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h4 class="card-text" style="width: 17rem"><strong><%= @report.category.name %></strong></h4>
              </div>
              <% if @report.solved? %>
                  <p>游릭 Resolvido </p>
                <% else %>
                  <p>游 Pendente </p>
              <% end %>
              <div class="d-flex justify-content-between">
                <p>游눫 <strong><%= @report.user.name %></strong></p>
                <% if (Date.today.day - @report.created_at.day) == 0 %>
                  <p>游 Hoje </p>
                <% elsif (Date.today.day - @report.created_at.day) == 1 %>
                  <p>游 Ontem </p>
                <% else %>
                  <p>游 H치 <%= (Date.today.day - @report.created_at.day) %> dias</p>
                <% end %>
              </div>
              <p class="card-text" style="width: 17rem;"><%= @report.description %></p>
              <h6><strong>Coment치rios:</strong></h6>
              <ul class="list-group">
                <% @report.reviews.each do |review| %>
                  <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                      <strong>游눫 <%= review.user.name %></strong>
                      <% if (Date.today.day - review.created_at.day) > 1 %>
                        <p>游 H치 <%= (Date.today.day - review.created_at.day) %> dias</p>
                      <% elsif (Date.today.day - review.created_at.day) == 1 %>
                        <p>游 Ontem </p>
                      <% else %>
                        <p>游 Hoje </p>
                      <% end %>
                    </div>
                    <em><%= review.comment %></em>
                  </li>
                <% end %>
                <div>
                  <%= simple_form_for [@report, @review] do |f| %>
                    <div class="form-list">
                      <%= f.input :comment, label: 'O que voc칡 pensa sobre este problema?' %>
                    </div>
                    <div align="center">
                      <%= f.submit "Comentar", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <br>

  <div class="align-center">
    <%= link_to "Informe um problema", '#', class: "btn btn-info" %>
  </div>
</div>
